{% extends "base.html" %}

{% block htmltitle %}
<title>NZDC</title>
{% endblock %}


<div class="wy-side-nav-search">
    <a href=".." class="icon icon-book"> NZDC</a>
    <div role="search">
<form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
  <input type="text" name="q" placeholder="Search docs" title="Type search term here">
</form>
</div>
  </div>

<form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search database" title="Type search term here">
</form>